/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * MinnesotaWhist implementation : © Daniel Jenkins <deiussum@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * minnesotawhist.css
 *
 * MinnesotaWhist stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (minnesotawhist_minnesotawhist.tpl), and to HTML elements you create dynamically
    (in minnesotawhist.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/
.playertablecard {
    display: inline-block;
    position: relative;
    width: 72px;
    height: 96px;
    border: 2px solid #FFFFFF55;
}

#playertables {
    position: relative;
    width: 710px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('img/table.jpg');
    border-radius: 0.5em;
}

.playerheader.whiteblock {
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    justify-content: center;
    display: flex;
}

.playertablename {
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}

.playertable {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 140px;
}

.playertable_N {
    left: 50%;
    top: 5px;
    margin-left: -90px; /* half of 180 */
}

.playertable_S {
    left: 50%;
    bottom: 5px;
    margin-left: -90px; /* half of 180 */
}

.playertable_W {
    left: 10px;
    top: 50%;
    margin-top: -55px; /* half of 130 */
}

.playertable_E {
    right: 10px;
    top: 50%;
    margin-top: -55px; /* half of 130 */
}

.cardontable {
    position: absolute;
    width: 72px;
    height: 96px;
    background-image: url('img/cards.jpg');
}

.cardontable.flipped {
    background-image: url('img/card_back.png');
}

#myhand-wrap {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
}

#myhand-wrap h3 {
    text-align: center;
}

.team-info-box {
    width: 108px;
    height: 78px;
    padding-top: 5px;
}

.team-tricks {
    margin-left: 3px;
}

.team-tricks .icon {
    margin-left: -10px;
}

.team-us {
    position: absolute;
    top: 5px;
    left: 10px;
}

.team-them {
    position: absolute;
    top: 5px;
    right: 10px;
}

#playmode-wrap {
    position: absolute;
    width: 100px;
    height: 20px;
    left: 10px;
    bottom: 5px;
    font-weight: bold;
}

.red-text {
    color: red;
}

.icon {
    display: inline-block;
    width: 18px;
    height: 20px;
    background-image: url('img/icons.png');
    margin: 0;
}

.icon-dealer {
    background-position-x: 0;
    background-position-y: 0;
}

.icon-grand {
    background-position-x: -18px;
    background-position-y: 0;
}

.icon-cardback {
    background-position-x: -36px;
    background-position-y: 0;
}


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/




